<app-header></app-header>

  <!-- [ Main Content ] start -->
  <div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">

                        <!-- [ Main Content ] start -->
                        <div class="row">
                          <div class="col-md-1"></div>
                          <div class="col-md-10">
                            
                            <!-- [ breadcrumb ] start -->
                            <div class="page-header">
                              <div class="page-block">
                                  <div class="row align-items-center">
                                      <div class="col-md-12">
                                          <div class="page-header-title">
                                              <h5>Ajout d'un assignment</h5>
                                          </div>
                                          <ul class="breadcrumb">
                                              <li class="breadcrumb-item"><a routerLink="/home"><i class="fas fa-home"></i></a></li>
                                              <li class="breadcrumb-item"><a href="#">Ajout d'un assignment</a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <!-- [ breadcrumb ] end -->
                            <div class="col-xl-12 col-md-12">
                              <div class="row">
                                  <div class="col-md-2">
                                      <a class="home btn btn-danger mb-4" routerLink="/home"><i class="fas fa-home"></i>Accueil</a>
                                  </div>
                                  <div class="col-md-7">
                                  </div>
                                  <div class="col-md-3">
                                    <a routerLink="/assignment/list">
                                          <button class="btn btn-primary mb-4" ><i class="fas fa-list"></i>Liste des assignments</button>
                                    </a>
                                  </div>
                              </div>
                            </div>
                            <!-- Card -->



                            <div class="col-md-12">
                              <div class="card">
                                  <div class="row align-items-center">
                                      <div class="col-md-2">
                                      </div>
                                      <div class="col-md-8">
                                        <form ngForm class="form">
                                              <div class="card-body" *ngIf="assignment">
                                                  <div class="card-header">
                                                      <h5>Edition de l'assignment {{assignment.nom}}</h5>
                                                  </div>
                                                  <div class="mb-3">
                                                    <mat-form-field>
                                                      <input matInput placeholder="Nom de l'assignment" [(ngModel)]="nomAssignment" name="assignment-name">
                                                    </mat-form-field>
                                                  </div>
                                                  <div class="mb-3">
                                                      
                                                      <mat-form-field appearance="fill">
                                                        <mat-label>Date rendu</mat-label>
                                                        <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date">
                                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker></mat-datepicker>
                                                      </mat-form-field>
                                                  </div>
                                                  
                                                  <button class="btn btn-primary mb-4" type="submit" id="submit" (click)="onSaveAssignment()">Editer</button>
                                              </div>
                                          </form>
                                      </div>
                                      <div class="col-md-2">
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>      
                          <div class="col-md-1"></div>                    
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->

